{% extends 'base.html'%}{%block title %} Secret {%endblock%}{%block content%}
<h3 class="display-5 mt-3">Register User</h3>

<form method="POST">
  {{form.hidden_tag()}} {% for field in form if field.widget.input_type!=
  'hidden'%}
  <div class="mb-3">
    {{field.label(class_="form-label")}} {{field(class_="form-control")}} {%for
    err in field.errors%}
    <small class="form-text text-danger">{{ err }}</small>
    {%endfor%}
  </div>
  {%endfor%}
  <button class="btn btn-success" type="submit">Submit</button>
</form>
{%endblock%}
