{% extends 'base.html'%}{%block title %} Secret {%endblock%}{%block content%}
<h1>Secret</h1>
<p>{{user.usernmae}}</p>
<p>{{user.first_name}}</p>
<p>{{user.last_name}}</p>
<p>{{user.email}}</p>

{%for feed in user.feedbacks%}

<div class="card mt-3" style="width: 50rem">
  <div class="card-body">
    <h4 class="card-title">{{feed.title}}</h4>
    <p class="card-text">{{feed.content}}</p>
    {%if session['username']==user.username%}
    <div class="d-flex">
      <form
        action="/feedback/{{feed.id}}/delete"
        method="POST"
        style="display: inline"
      >
        <button class="btn btn-danger btn-sm">Delete</button>
      </form>
      <form method="POST" style="display: inline">
        <button class="btn btn-primary btn-sm ml-2">Edit</button>
      </form>
    </div>
    {%endif%}
  </div>
</div>

{%endfor%} {%endblock%}
